.sidebar{
    position: fixed;
    background-color:white;
    left: 0;
    bottom: 0;
    top: 50px;
    width: 75px;
    z-index: 200;

}


.sidebar-link{
     margin-bottom:30px ;
     margin-top: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color:white;
     border-radius: 1px;
     cursor: pointer;
     position: relative;

.sidebar-link .tooltip{
    position: absolute;
    bottom: -8px;
    right: -1px;
    opacity:0;
    padding: 2px 4px 3px 4px;
    border-style: solid;
    border-width: 1.5px;
    font-size: 8px;
    color: white;
    background-color: rgb(54, 54, 54);
    opacity: 0;
    transition: opacity 2s;

}

.sidebar-link:hover .tooltip{
    opacity: 1;
}
    
     
   

}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    width: 30px;
    background-color: transparent;
  
}

.sidebar-text{
    color: black;
    font-size: 12px;
    margin-top: 5px;
    background-color: transparent;
    
}
